.box {
    width: 150px;
    height: 150px;
    margin: 20px;
}

#colors {
    background-color: yellow;
    transition: background-color 3s linear 1s;
}

#colors:hover {
    background-color: brown;
}
#box1 {
    background-color: pink;
    transition: width 1s ease-in-out 1s;
}
#box2 {
    background-color: gray;
}
#box3 {
    background-color: rebeccapurple;
}

#box1:hover {
    width: 250px;
}